/* #{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */



.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.font{
    font-family: wor;
}

.para-text{
    color: rgb(83, 76, 100);
    font-size: 0.9rem;
}

.shared-clipping{
    background-image: linear-gradient(90deg,rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
}


/* nav styles */

.nav-main{
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.hamburger{
    display: none;
}
.nav-btn{
    background:transparent;
    border: none;
    color: rgb(60, 53, 79);
    margin-right: 15px;
    font-size: 1.1rem;
    
}

.nav-left{
    justify-content: center;
    align-items: center;
    
}
.nav-btn-follow{
    margin-right: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 17px 17px;
    
}
.fa-youtube{
    color: red;
    margin-left: 8px;
}
.fa-tiktok{
    margin-left: 8px;
}

/* header styles */

.header-container{
    background-image: url(./images/Group\ 14.png);
}

.header{
    max-width:1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    width: 45%;
}
.header-right{
    width:50%;
}
.header-right img{
    width: 100%;
    height: 100%;
}
.fa-solid{
    margin-right:5px;
    color: red;
}
.goat{
    background-image: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-weight: 900;
    
    

}
.header-text{
    margin: 0;
    padding: 0;
}
.header-btn{
border:none;
border-radius: 8px;
padding: 20px 40px;
color: white;


}
.btn-left{
    background: linear-gradient(90deg,rgb(255, 66, 165),rgb(255, 66, 165));
    margin-right: 20px;

}
.btn-right{
    background: linear-gradient(90deg,rgb(78, 197, 247),rgb(78, 197, 247));

}
.header-para{
    color: rgb(83, 76, 100);
}


/* gamer styles */
.we-gamer-container{
    background: linear-gradient(90deg,rgba(255, 66, 165, 0.03),rgba(255, 66, 165, 0.03));
}
.we-gamer{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 450px;
}

.gamer-left{
    width: 60%;

}
.gamer-right{
    width: 38%;
    text-align: right;
}

.gamer-left img{
    width: 100%;
    
}

.gamer-title{
    background-image: linear-gradient(90deg,rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.btn-gamer{
border:none;
border-radius: 8px;
padding: 20px 40px;
color: white;
background: linear-gradient(90deg,rgb(255, 66, 165),rgb(255, 66, 165));


}
.unleash-title,.purpose-text{
    color: rgb(83, 76, 100);
    
}

.purpose-text{
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 5px ;
}
.unleash-title{
    margin-top: 5px;
    
}

/* online styles */
.online-container{
    margin-top: 80px;
}

.online{
    margin: 0 auto;
    max-width:1000px;
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}

.card-container img{
    width: 100%;
    height:auto;
}
.header-margin{
    margin: 0;
}
.para-margin{
    
    margin-top: 5px;
    margin-bottom: 20px;
}

.card {
    /* filter: brightness(50%); */

    position: relative;
    
}
.card img:hover{
    filter: brightness(50%);
}
.follow-content{
    position: absolute;
    top:35%;
    left:33%;
    text-align: center;
    
    display:none;

    
}
.follow-text{
color: rgb(174, 39, 39);
margin: 0;
font-weight: 500;


}
.follow-content span{
    font-size: 30px;
    color: white;
}
.card img:hover+.follow-content{
    display: block;
}


/* play styles */

.play{
    max-width: 1000px;
    margin: 0 auto;
    height: 700px;
    justify-content:right;
    align-items: center;
    
}
.play-right{
    width: 35%;
    margin-left: 180px;
}
.play-left{
    width: 32%;
    text-align: right;
}

.play-right img{
    width: 100%;
    height: auto;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
    top: 55%;
    left: -20%;
    width: 50%;
    
}



/* play games styles  */

.play-games{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}
.play-games-left{
    width: 35%;
    position: relative;
    margin-right: 180px;
}
.play-games-left img{
    width: 100%;
  
}

.play-games-right{
    width:38%;
   
}
.play-games-child{
    position:absolute;
    width: 48%;
    top: 55%;
    left: 70%;
     

}

/* career styles  */

.career-container{
    background: rgba(255, 66, 165, 1.00);
    margin: 150px 0;
    

}

.career{
    max-width: 1000px;
    margin: 0 auto;
}
.career-container-left{
    width: 50%;
}

.career-container-right{
    width: 50%;
}
.career-container-right img{
    width: 100%;
    height: auto;
}

.career h1,h5,p{
    color: white;
}

.career-text{
    font-weight: 200;
    font: 0.9rem;
}

.career-right{
    text-align: right;
}
.career-btn{
    color:  rgba(255, 66, 165, 1.00);
    ;
    border-radius: 15px;
    border: none;
    padding: 15px 40px;
}



/* action styles */

.action-para{
    color: rgb(11, 2, 35);
}

.main-action{
    background: transparent;
    display: flex;
    max-width: 1000px;
    margin: 100px auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    font-size: 15px;
    font-weight: 500;
    
    
}
.acion{
    display: flex;
    align-items: center;
    
    border-radius: 15px;
    gap:5px;
  
    
    
}
.main-action img{
    width: 30px;
    

}
.acion:hover{
    outline: 1.5px solid aqua;;
}


/* footer styles */
footer{
    background: rgb(11, 2, 35);

}

.footer-container{
    max-width:600px ;
    margin: 0 auto;
    
}


.foot-top{
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.footer-para{
    justify-content: space-between;
}
.footer-para p{
    color: white;
}
.footer-icon{
    gap: 30px;
    justify-content: center;
    margin: 30px 0;
    
}
.footer-icon span{
    color:white;
    font-size: 30px;
}

.terms{
    gap:20px;
    justify-content: center;
    
}
.terms p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
}
.copy-rights{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;

}