/* #{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */



.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.font{
    font-family: wor;
}

.para-text{
    color: rgb(83, 76, 100);
    font-size: 0.9rem;
}

.shared-clipping{
    background-image: linear-gradient(90deg,rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
}


/* nav styles */

.nav-main{
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.nav-btn{
    background:transparent;
    border: none;
    color: rgb(60, 53, 79);
    margin-right: 15px;
    font-size: 1.1rem;
    
}

.nav-left{
    justify-content: center;
    align-items: center;
    
}
.nav-btn-follow{
    margin-right: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 17px 17px;
    
}
.fa-youtube{
    color: red;
    margin-left: 8px;
}
.fa-tiktok{
    margin-left: 8px;
}

/* header styles */

.header-container{
    background-image: url(./images/Group\ 14.png);
}

.header{
    max-width:1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    width: 45%;
}
.header-right{
    width:50%;
}
.header-right img{
    width: 100%;
    height: 100%;
}
.fa-solid{
    margin-right:5px;
    color: red;
}
.goat{
    background-image: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-weight: 900;
    
    

}
.header-text{
    margin: 0;
    padding: 0;
}
.header-btn{
border:none;
border-radius: 8px;
padding: 20px 40px;
color: white;


}
.btn-left{
    background: linear-gradient(90deg,rgb(255, 66, 165),rgb(255, 66, 165));
    margin-right: 20px;

}
.btn-right{
    background: linear-gradient(90deg,rgb(78, 197, 247),rgb(78, 197, 247));

}


/* gamer styles */
.we-gamer-container{
    background: linear-gradient(90deg,rgba(255, 66, 165, 0.03),rgba(255, 66, 165, 0.03));
}
.we-gamer{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 450px;
}

.gamer-left{
    width: 60%;

}
.gamer-right{
    width: 38%;
    text-align: right;
}

.gamer-left img{
    width: 100%;
    
}

.gamer-title{
    background-image: linear-gradient(90deg,rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.btn-gamer{
border:none;
border-radius: 8px;
padding: 20px 40px;
color: white;
background: linear-gradient(90deg,rgb(255, 66, 165),rgb(255, 66, 165));


}
.unleash-title,.purpose-text{
    color: rgb(83, 76, 100);
    
}

.purpose-text{
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 5px ;
}
.unleash-title{
    margin-top: 5px;
    
}

/* online styles */
.online-container{
    margin-top: 80px;
}

.online{
    margin: 0 auto;
    max-width:1000px;
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}

.card-container img{
    width: 100%;
    height:auto;
}
.header-margin{
    margin: 0;
}
.para-margin{
    
    margin-top: 5px;
    margin-bottom: 20px;
}

.card-follow {
    filter: brightness(30%);

    position: relative;
    
}
.follow-content{
    position: absolute;
    top:10vw;

    
}
.follow-text{
    background: linear-gradient(90.00deg, rgb(255, 66, 165),rgb(255, 66, 165));
background-clip: text;
color: transparent;
font-weight: 600;
font-size: 1.1rem;

}

/* play styles */

.play{
    max-width: 1000px;
    margin: 0 auto;
    height: 700px;
    justify-content:right;
    align-items: center;
    
}
.play-right{
    width: 35%;
    margin-left: 180px;
}
.play-left{
    width: 32%;
    text-align: right;
}

.play-right img{
    width: 100%;
    height: auto;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
    top: 14vw;
    left: -8vw;
    width: 16vw;
    height: 15vw;
}



/* play games styles  */

.play-games{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}
.play-games-left{
    width: 35%;
    position: relative;
    margin-right: 180px;
}
.play-games-left img{
    width: 100%;
  
}

.play-games-right{
    width:38%;
   
}
.play-games-child{
    position:absolute;
    width: 48%;
    top: 14vw;
    left: 20vw;
     

}